:root {
  --color-primary: #00c3f4;
  --color-primary-variant: #0062f4;
  --color-gradient: linear-gradient(
    var(--color-primary),
    var(--color-primary-variant)
  );
  --color-white: #fff;
  --color-black: #000;

  --container-width-lg: 80%;
  --container-width-md: 92%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background: var(--color-gradient);
  min-height: 100vh;
}
