:root {
  --color-primary: #00c3f4;
  --color-primary-variant: #0062f4;
  --color-gradient: linear-gradient(
    var(--color-primary),
    var(--color-primary-variant)
  );
  --color-white: #fff;
  --color-black: #000;

  --container-width-lg: 80%;
  --container-width-md: 92%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background: var(--color-gradient);
  min-height: 100vh;
}

nav {
  background: var(--color-white);
  width: 100vw;
  height: 4rem;
  display: grid;
  place-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.2);
}

.nav__container {
  width: var(--container-width-lg);
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__toggle-btn {
  display: none;
}
